Source: lib-php-rest
Section: unknown
Priority: extra
Maintainer: Sietse de Kaper <sietse@unknown>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: lib-php-rest
Architecture: any
Depends: php5
Description: PHP RESTful library
 PHP RESTful library
