Source: libphp-xmlshift
Section: unknown
Priority: extra
Maintainer: Sietse de Kaper <sietse@unknown>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: libphp-xmlshift
Architecture: any
Depends: php5
Description: PHP XMLShift library
  PHP XMLShift library
